td {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    
}
.blue {
    background-color: aqua;
 }
.grey {
    background-color: darkgray;
 }
 .layer1 {
    background-color: aqua;
    font: 12pt sans-serif;  
   }
